*,
:after,
:before {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default browser margins around the page */
html,
body {
  margin: 0;
  padding: 0;
}

:where(body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd) {
  margin-block: 0;
}

.content {
  max-width: 55em;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-end: 0;
}

/* Consistent text sizes for main content */
blockquote,
p,
li,
blockquote p,
blockquote li {
  max-width: 55em;
  font-size: var(--text-size-prose);
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
}

body {
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: "wdth" 100;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  color: var(--color-dark);
}

button,
h1,
h2,
h3,
h4,
input,
label {
  line-height: 1.1;
}

.avatar-image {
  border: 3px solid var(--color-accent);
  border-radius: 50%;
}

.card[data-type="article"] {
  color: var(--color-list-article);
}

.card[data-type="website"] {
  color: var(--color-list-website);
}

.card[data-type="tool"] {
  border-color: #96c93d;
}

.card[data-type="video"] {
  border-color: #845ec2;
}

/* Base Typography */

blockquote strong,
blockquote b {
  color: var(--color-text-base);
}

/* Links */
a {
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.15em;
}

/* Lists */
li {
  line-height: 1.6;
}

/* Small Text */
small {
  font-size: 0.875em;
  font-weight: 300;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

:root {
  --color-accent: #c84630;
  --color-disabled: var(--color-mid);
  --color-light: #e3e3e3;
  --color-light-shade: #898989;
  --color-dark: #1c242a;
  --color-dark-glare: #5da271;
  --color-mid: #898989;
  --color-mid-shade: #d4a0a7;
  --color-primary: #5da271;
  --color-primary-glare: #5da271;
  --color-primary-shade: #898989;
  --color-card: #ffffff;
  --color-global-bg: var(--color-light);
  --color-global-link-color: currentColor;
  /* Added to replace commented-out earlier declarations */
  --color-pink-hover: #f0dadf;
  --shadow-hover: 0 4px 10px rgba(0, 0, 0, 0.06);
  --color-global-text: var(--color-dark);
  --color-selection-bg: var(--color-dark);
  --color-selection-text: var(--color-light);
  --flow-space: var(--space-xs);
  --focus-color: var(--color-primary);
  --focus-ring: 2px solid currentColor;
  --focus-ring-offset: 2px;
  --font-base: "Miriam Libre", system-ui, monospace;
  --font-display: "Fira Code", system-ui, sans-serif;
  --font-mono: "Fira Code", monospace;
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;
  --kerning: normal;
  --kerning-caps: 0.1ch;
  --leading: 1.45;
  --measure: 65ch;
  --measure-heading-1: 30ch;
  --measure-heading-2: 45ch;
  --measure-heading-3: 45ch;
  --measure-heading-4: 45ch;
  --measure-heading-5: 45ch;
  --measure-heading-6: 45ch;
  --measure-l: 75ch;
  --measure-m: 50ch;
  --measure-s: 45ch;
  --measure-xs: 20ch;
  --region-space: var(--space-xl-2xl);
  --text-size-base: var(--size-step-0);
  --text-size-heading-1: var(--size-step-4);
  --text-size-heading-2: var(--size-step-3);
  --text-size-heading-3: var(--size-step-2);
  --text-size-heading-4: var(--size-step-2);
  --text-size-heading-5: var(--size-step-2);
  --text-size-heading-6: var(--size-step-2);
  --text-size-lede: var(--size-step-1);
  --text-size-meta: var(--size-step--1);
  --text-size-prose: var(--size-step--1); /* One step smaller for readability */
  --text-size-small: 0.75em;
  --scroll-bar-track-color: var(--color-light-shade);
  --scroll-bar-thumb-color: var(--color-mid);
  --scroll-bar-radius: 0;
  --scroll-bar-offset: var(--space-l);
  --space-3xs: clamp(0.3125rem, 0.2483rem + 0.321vw, 0.5625rem);
  --space-2xs: clamp(0.5625rem, 0.418rem + 0.7223vw, 1.125rem);
  --space-xs: clamp(0.875rem, 0.6663rem + 1.0433vw, 1.6875rem);
  --space-s: clamp(1.125rem, 0.8361rem + 1.4446vw, 2.25rem);
  --space-m: clamp(1.6875rem, 1.2541rem + 2.1669vw, 3.375rem);
  --space-l: clamp(2.25rem, 1.6722rem + 2.8892vw, 4.5rem);
  --space-xl: clamp(3.375rem, 2.5082rem + 4.3339vw, 6.75rem);
  --space-2xl: clamp(4.5rem, 3.3443rem + 5.7785vw, 9rem);
  --space-3xl: clamp(6.75rem, 5.0165rem + 8.6677vw, 13.5rem);
  --space-3xs-2xs: clamp(0.3125rem, 0.1038rem + 1.0433vw, 1.125rem);
  --space-2xs-xs: clamp(0.5625rem, 0.2736rem + 1.4446vw, 1.6875rem);
  --space-xs-s: clamp(0.875rem, 0.5219rem + 1.7657vw, 2.25rem);
  --space-s-m: clamp(1.125rem, 0.5472rem + 2.8892vw, 3.375rem);
  --space-m-l: clamp(1.6875rem, 0.9652rem + 3.6116vw, 4.5rem);
  --space-l-xl: clamp(2.25rem, 1.0943rem + 5.7785vw, 6.75rem);
  --space-xl-2xl: clamp(3.375rem, 1.9304rem + 7.2231vw, 9rem);
  --space-2xl-3xl: clamp(4.5rem, 2.1886rem + 11.557vw, 13.5rem);
  --space-s-l: clamp(1.125rem, 0.2582rem + 4.3339vw, 4.5rem);
  --size-step--3: clamp(0.875rem, 0.8462rem + 0.1439vw, 1rem);
  --size-step--2: clamp(1rem, 0.9712rem + 0.1439vw, 1.125rem);
  --size-step--1: clamp(1.125rem, 1.0818rem + 0.2158vw, 1.3125rem);
  --size-step-0: clamp(1.25rem, 1.1349rem + 0.5755vw, 1.75rem);
  --size-step-1: clamp(1.5rem, 1.3273rem + 0.8633vw, 2.25rem);
  --size-step-2: clamp(1.75rem, 1.5773rem + 0.8633vw, 2.5rem);
  --size-step-3: clamp(2rem, 1.7698rem + 1.1511vw, 3rem);
  --size-step-4: clamp(2.25rem, 1.7176rem + 2.6619vw, 4.5625rem);
  --size-step-5: clamp(2.625rem, 1.6754rem + 4.7482vw, 6.75rem);
  --size-step-6: clamp(3rem, 0.0504rem + 14.7482vw, 15.8125rem);
  --size-step-7: clamp(3.8125rem, 0.0427rem + 18.8489vw, 20.1875rem);
}

main {
  background: var(--button-gap);
  max-width: var(--container-max-width);
  margin: 0 auto;
  flex: 1;
  position: relative;
  transform: translateZ(0);
  z-index: 1;
}

.page-content {
  max-width: 55em;
  padding: 1em;
  margin: 0 auto;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-display);
  font-feature-settings: "cpsp" on;
  font-weight: var(--heading-font-weight);
  letter-spacing: var(--heading-kerning, var(--kerning));
  line-height: var(--heading-line-height, var(--leading-fine));
  overflow-wrap: anywhere;
  text-wrap: balance;
}

:is(h1) {
  --heading-font-family: var(--font-statement);
  --heading-font-weight: var(--font-bold);
}

:is(h2, h3, h4, h5, h6) {
  --heading-font-family: var(--font-display);
  --heading-font-weight: var(--font-medium);
}

h1 {
  font-size: var(--text-size-heading-1);
  max-width: var(--measure-heading-1);
}

h2 {
  font-size: var(--text-size-heading-2);
  max-width: var(--measure-heading-2);
}

h3 {
  max-width: var(--measure-heading-3);
}

h3,
h4 {
  font-size: var(--text-size-heading-4);
}

h4 {
  max-width: var(--measure-heading-4);
}

h5 {
  font-size: var(--text-size-heading-5);
  max-width: var(--measure-heading-5);
}

h6 {
  font-size: var(--text-size-heading-6);
  max-width: var(--measure-heading-6);
}

small {
  font-size: var(--text-size-small);
}

:is(code, kbd, samp) {
  font-family: var(--font-mono);
  hyphens: none;
  padding: var(--global-style-mono-element-padding);
  tab-size: 2;
  text-align: left;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  box-decoration-break: clone;
}

pre:has(code) {
  max-width: 100%;
  overflow-x: auto;
  width: max-content;
}

pre code {
  background: none;
  border: none;
  padding: 0;
}

li {
  font-size: var(--text-size-prose);
}

:not([class]) > li + li,
li:not([class]) > :is(ol, ul) {
  margin-block-start: var(--global-style-list-vertical-space, var(--space-xs));
}

[role="list"][class]:not(.reel, .work-region__grid),
[role="tablist"] {
  margin-block: 0;
  padding: 0;
}

dt {
  font-weight: var(--global-style-dt-font-weight);
}

dt + dd {
  margin-block-start: var(--global-style-dt-dd-relation-spacing);
}

dd + dt {
  margin-block-start: var(--global-style-dd-dt-relation-spacing);
}

dd {
  margin-inline-start: var(--global-style-dd-indent);
}

blockquote {
  display: flex;
  flex-direction: column;
  font-size: var(--global-style-blockquote-size);
  gap: var(--global-style-blockquote-gap);
  margin-inline: 0;
}

blockquote footer {
  color: var(--global-style-blockquote-footer-color);
  font-family: var(
    --global-style-blockquote-footer-font-family,
    var(--font-base)
  );
  font-size: var(--global-style-blockquote-footer-size);
  letter-spacing: var(
    --global-style-blockquote-footer-kerning,
    var(--kerning-caps)
  );
  margin-block-start: var(--global-style-blockquote-foot-space);
  order: var(--global-style-blockquote-footer-order);
  text-transform: var(
    --global-style-blockquote-footer-text-transform,
    uppercase
  );
}

blockquote p,
blockquote q {
  font-family: var(
    --global-style-blockquote-quote-font-family,
    var(--font-base)
  );
  font-style: var(--global-style-blockquote-quote-style, italic);
  max-width: var(--global-style-blockquote-quote-max-width, inherit);
}

:is(video, iframe[src*="youtube"], iframe[src*="vimeo"]) {
  aspect-ratio: 16/9;
  display: block;
  height: auto;
  width: 100%;
}

:is(img, picture) {
  display: block;
  height: auto;
  max-width: 100%;
}

picture img {
  width: 100%;
}

figure {
  margin-block-start: inherit;
  margin-inline: var(--global-style-figure-margin-inline, revert);
}

figcaption {
  font-family: var(--global-style-figcaption-font);
  font-size: var(--global-style-figcaption-size);
  padding-block-start: var(--global-style-figcaption-space);
}

svg:not([class]) {
  height: var(--global-style-svg-height);
  width: auto;
}

svg {
  flex-shrink: 0;
}

table {
  border: var(--global-style-table-border, var(--stroke));
  border-collapse: collapse;
  width: 100%;
}

thead th {
  background: var(--global-style-table-th-bg, rgb(0 0 0/2%));
  font-family: var(--global-style-table-th-font-family, var(--font-base));
  font-size: var(--global-style-table-th-font-size, var(--text-size-base));
  font-weight: var(--global-style-table-th-font-weight, var(--font-bold));
  letter-spacing: var(--global-style-table-th-kerning, var(--kerning));
  line-height: var(--global-style-table-th-leading, var(--leading-fine));
  padding: var(--global-style-table-th-padding, var(--space-s));
  text-align: left;
}

td {
  font-size: var(--global-style-table-td-font-size, var(--text-size-base));
  padding: var(--global-style-table-td-padding, var(--space-xs) var(--space-s));
}

th:not(:only-of-type) {
  border-block-end: var(--global-style-table-th-border-end, var(--stroke));
}

th:only-of-type {
  border-inline-end: var(
    --global-style-table-cell-border-inline,
    var(--stroke)
  );
}

:is(th, td) ~ :is(th, td) {
  border-inline-start: var(
    --global-style-table-cell-border-inline,
    var(--stroke)
  );
}

tr + tr:is(th, td) {
  border-block-start: var(
    --global-style-table-cell-border-start,
    var(--stroke)
  );
}

caption {
  caption-side: bottom;
  margin-block-start: var(--space-2xs, 0.5lh);
}

a:not([class]) {
  color: var(--color-global-link-color);
  text-decoration: var(--global-style-link-text-decoration, revert);
}

a:not([class]):hover {
  text-decoration: var(--global-style-link-hover-text-decoration, revert);
  text-underline-offset: var(--global-style-link-hover-underline-offset);
}

:is(h1, h2, h3, h4) a:not([class]) {
  text-decoration-thickness: var(
    --global-style-heading-link-underline-thickness
  );
  text-underline-offset: var(--global-style-heading-link-underline-offset);
}

:is(h1, h2, h3, h4) a:not([class]):hover {
  text-underline-offset: var(
    --global-style-heading-link-hover-underline-offset
  );
}

:focus {
  outline: none;
}

:focus-visible:not([tabindex="-1"]) {
  outline: 2px solid var(--focus-color);
  outline-offset: var(--focus-ring-offset);
}

:target {
  outline: 0;
  scroll-margin-block: var(--global-style-scroll-margin);
}

::selection {
  background: var(--color-selection-bg);
  color: var(--color-selection-text);
}

hr {
  border: 0;
  height: 10px;
  background: var(--color-mid-shade); /* pink bar */
  margin-block: var(--global-style-hr-space);
  display: block;
}

svg[role="img"][width][height] {
  height: revert;
  width: revert;
}

form > * + * {
  margin-top: var(--flow-space);
}

:is(input, select, textarea) {
  accent-color: var(--global-style-accent-color);
}

:is(
    input:not([type="checkbox"], [type="radio"], [type="color"]),
    select,
    textarea
  ) {
  background: var(--global-style-input-bg);
  border: var(--global-style-input-stroke);
  border-radius: var(--global-style-input-radius);
  color: var(--global-style-input-color);
  padding: var(--global-style-input-padding);
  width: 100%;
  &::placeholder {
    color: var(--global-style-input-placeholder-color);
    opacity: 1;
  }
}

label {
  display: var(--global-style-label-display);
  font-family: var(--global-style-label-font-family);
  font-size: var(--global-style-label-font-size);
  font-weight: var(--global-style-label-font-weight);
  letter-spacing: var(--global-style-label-kerning);
  line-height: var(--global-style-label-leading);
  text-transform: var(--global-style-label-text-transform);
}

label:after {
  content: "\a";
  white-space: pre;
}

label:has(input:is([type="radio"], [type="checkbox"])) {
  align-items: baseline;
  display: flex;
  gap: var(--global-style-label-with-input-gap);
}

label:has(input) + label:has(input) {
  --flow-space: var(--global-style-label-with-input-flow-space);
}

.flow label + input,
.flow label + textarea,
label + input,
label + textarea {
  margin-block-start: var(--space-2xs);
}

label:has(input) input {
  transform: translateY(-0.1ex);
}

input:disabled {
  background: var(--global-style-input-disabled-color);
}

input:disabled,
label input:disabled + * {
  cursor: not-allowed;
}

fieldset {
  border: var(--global-style-fieldset-stroke);
  padding: var(--global-style-fieldset-padding);
}

legend {
  font-weight: var(--global-style-legend-font-weight);
  padding-inline: var(--global-style-legend-padding);
}

summary {
  cursor: pointer;
  font-weight: var(--global-style-summary-font-weight);
}

details[open] summary {
  margin-block-end: var(--global-style-details-open-space);
}

.region + .region {
  padding-block-start: 0;
}

.cluster {
  align-items: var(--cluster-vertical-alignment, center);
  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster-gutter, var(--gutter, var(--space-s-m)));
  justify-content: var(--cluster-horizontal-alignment, flex-start);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.grid {
  display: grid;
  gap: var(--gutter, var(--space-s-l));
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
}

.grid[data-layout="halves"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 33rem);
}

.grid[data-layout="thirds"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 33%, 20rem);
}

.reel {
  --reel-calculated-space: var(--reel-space, var(--gutter, 2rem));
  display: flex;
  height: auto;
  margin-inline: auto;
  max-width: 100%;
  overflow-x: auto;
  padding: 0 0 var(--scroll-bar-offset) 0;
  -webkit-overflow-scrolling: touch;
}

.reel > * {
  flex-basis: var(
    --reel-item-width,
    calc(33.333% - var(--reel-calculated-space))
  );
  flex-shrink: 0;
}

.reel > * + * {
  margin-inline-start: var(--reel-calculated-space);
}

.reel::-webkit-scrollbar {
  block-size: var(--scroll-bar-size);
}

.reel::-webkit-scrollbar-track {
  background-color: var(--scroll-bar-track-color);
  border-radius: var(--scroll-bar-radius, 0);
}

.reel::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-thumb-color);
  border-radius: var(--scroll-bar-radius, 0);
}

.reel[data-scroll="snap"] {
  scroll-snap-type: x mandatory;
}

.reel[data-scroll="snap"] > * {
  scroll-snap-align: start;
}

.repel {
  align-items: var(--repel-vertical-alignment, center);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s-m));
  justify-content: var(--repel-horizontal-alignment, space-between);
}

.repel[data-nowrap] {
  flex-wrap: nowrap;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s-l));
}

.sidebar:not([data-direction]) > :first-child {
  flex-basis: var(--sidebar-target-width, 20rem);
  flex-grow: 1;
}

.sidebar:not([data-direction]) > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min-width, 50%);
}

.sidebar[data-reversed] {
  flex-direction: row-reverse;
}

.sidebar[data-direction="rtl"] > :last-child {
  flex-basis: var(--sidebar-target-width, 20rem);
  flex-grow: 1;
}

.sidebar[data-direction="rtl"] > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min-width, 50%);
}

.switcher {
  align-items: var(--switcher-vertical-alignment, flex-start);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s-l));
  justify-content: var(--switcher-horizontal-alignment, unset);
}

.switcher > * {
  flex-basis: calc(
    (var(--switcher-target-container-width, 40rem) - 100%) * 999
  );
  flex-grow: 1;
}

.switcher > :nth-child(n + 3) {
  flex-basis: 100%;
}

.wrapper {
  margin-inline: auto;
  max-width: var(--wrapper-max-width);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  position: relative;
}

.breakout {
  width: calc(50% + 50vw);
  width: calc(50% + 50cqw);
}

.overflow {
  overflow-x: auto;
  padding-block-end: var(--scroll-bar-offset);
  -webkit-overflow-scrolling: touch;
}

.overflow::-webkit-scrollbar {
  block-size: var(--scroll-bar-size);
}

.overflow::-webkit-scrollbar-track {
  background-color: var(--scroll-bar-track-color);
  border-radius: var(--scroll-bar-radius, 0);
}

.overflow::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-thumb-color);
  border-radius: var(--scroll-bar-radius, 0);
}

.overflow[data-scroll="snap"] {
  scroll-snap-type: x mandatory;
}

.overflow[data-scroll="snap"] > * {
  scroll-snap-align: start;
}

.region {
  padding-block-end: var(--region-space);
  padding-block-start: var(--region-space);
}

.region[data-flush="all"] {
  padding-block-end: 0;
  padding-block-start: 0;
}

.region[data-flush="top"] {
  padding-block-start: 0;
}

.region[data-flush="bottom"] {
  padding-block-end: 0;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.button {
  align-items: center;
  background: var(--button-bg, var(--color-surface-bg));
  border-color: var(--button-border-color, var(--color-mid));
  border-radius: var(--button-radius, var(--radius));
  border-style: var(--button-border-style, solid);
  border-width: var(--button-border-width, var(--stroke-weight-heavy));
  box-shadow: var(--button-box-shadow, none);
  color: var(--button-text, var(--color-surface-text));
  cursor: pointer;
  display: inline-flex;
  font-family: var(--button-font-family, inherit);
  font-size: var(--button-font-size, var(--size-step--1));
  font-weight: var(--button-font-weight, var(--font-weight-emphasis));
  gap: var(--button-gap, var(--gutter));
  justify-content: center;
  letter-spacing: var(--button-kerning, var(--kerning-loose));
  line-height: var(--button-leading, var(--leading-fine));
  padding: var(--button-padding, var(--space-2xs, 0.8em) var(--space-m, 2em));
  text-decoration: none;
  text-transform: var(--button-text-transform, uppercase);
  text-box: trim-both cap alphabetic;
}

.button:hover {
  background: var(--button-interact-bg, var(--color-surface-bg-interact));
  border-color: var(
    --button-interact-border-color,
    var(--button-interact-bg, var(--color-surface-bg-interact))
  );
  color: var(--button-interact-text, var(--color-surface-text-interact));
}

.button[data-button-variant="primary"] {
  --button-bg: var(--color-primary);
  --button-border-color: var(--color-primary);
}

.button[data-button-variant="primary"]:hover {
  --button-interact-bg: var(--color-primary);
  --button-interact-text: var(--color-light);
  --button-interact-border-color: var(--color-dark);
}
