:root {
  --color-background: #ffc6a6;
  --color-background-gradient-right: #e4a4a2;
  --color-text-base: #575e79;
  --color-accent: #ff1493;
  --color-card: #263022;
  --color-card-muted: #3b4437;
  --color-border: #887391;

  --color-button-border: #968f95;

  --color-button-primary: #a601fe;
  --color-button-primary-hover: #d68cff;
  --color-button-border: #6f6f6e;

  --color-list-video: #c12b05;
  --color-list-article: #f47d3c;
  --color-list-website: #a601fe;
  --color-list-book: #58aa9c;

  --color-link: #b26acd;
  --color-link-bg: #4e5e73;
}

html.dark {
  --color-background: #263022;
  --color-background-gradient-right: #676e64;
  --color-text-base: #ffe6d8;
  --color-accent: #b26acd;
  --color-card: #3b4437;
  --color-card-muted: #50594d;
  --color-border: #4d4b3a;
  --color-button-primary: #a601fe;
  --color-button-primary-hover: #d68cff;
  --color-button-border: #6f6f6e;

  --color-list-video: #c12b05;
  --color-list-article: #f47d3c;
  --color-list-website: #a601fe;
  --color-list-book: #58aa9c;

  --color-link: #b26acd;
  --color-link-bg: #4e5e73;
}

html,
body {
  background: var(--color-background);
  background: radial-gradient(
    at bottom left,
    var(--color-background) 50%,
    var(--color-background-gradient-right)
  );
  color: var(--color-text-base);
  line-height: 1.7em;
  margin: 0;
}

.wrapper {
  max-width: 48em;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.wrapper article {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.wrapper {
  min-height: 100vh;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: var(--color-link);
  padding: 0 0.25rem;
  background-image: linear-gradient(var(--color-link-bg) 0 0);
  background-size: 0;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  color: var(--color-link);
  background-size: 100%;
  text-decoration: underline;
}

button {
  margin: 0;
  color: var(--color-button-primary);
  border: 1px solid color var(--color-button-border);
  border-radius: 2em;
  padding: 0.5rem 2rem;
  background: none;
  background-image: linear-gradient(var(--color-button-primary-hover) 0 0);
  background-size: 0;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: 0.4s;
}

button:hover {
  background-size: 100%;
  text-decoration: none;
}

.front-layout {
  max-width: 900px;
}

article h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.4;
  margin-top: 0.67em;
}

article h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 0.81em;
}

article h3 {
  font-size: 1.17em;
  font-weight: 700;
  margin-top: 1em;
}

article p {
  margin-top: 0.8em;
  line-height: 1.7em;
}

article ol,
article ul {
  margin-top: 0.8em;
  margin-left: 1em;
}

article blockquote {
  margin: 2em;
  padding: 1em;
  border: 1px solid var(--color-fg);
  box-shadow:
    2px 2px var(--color-border),
    3px 3px var(--color-border);
}

article h2 a,
article h2 a:visited,
article h3 a,
article h3 a:visited {
  color: inherit;
}

article h2 a:hover,
article h3 a:hover {
  color: var(--color-link);
}

article pre {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  border: 1px solid var(--color-border);
  box-shadow:
    2px 2px #0a182e,
    3px 3px var(--color-fg);
}

pre:has(code) {
  font-size: 90%;
  word-break: break-all;
}

.decoration {
  background-image: linear-gradient(120deg, #fccc92 0%, #d57feb 100%);
  height: 10px;
}

.recent-posts .title {
  font-weight: bold;
}

hr {
  height: 1px;
  opacity: 0.2;
}
