.hero-region {
  overflow-x: hidden;
}

.hero-region h1 {
  font-family: "Miriam Libre", sans-serif;
  font-weight: 700;
  font-size: var(--size-step-7);
  line-height: var(--leading-flat);
  margin-block-end: var(--region-space);
  width: 110vw;
}

.hero-region strong {
  display: block;
  font-size: var(--size-step-4);
  font-style: normal;
  letter-spacing: var(--kerning);
}

.hero-region__projects {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
}

.hero-region__projects > * {
  flex-grow: 1;
}

@media (max-width: 55em) {
  .hero-region strong {
    font-size: var(--size-step-1);
  }

  .hero-region__projects > * {
    flex-basis: 100%;
  }
}

.project-card {
  --gutter: var(--space-s);
  --padding: var(--space-2xs);
  --border-radius: var(--space-l);
  aspect-ratio: 1/1;
  position: relative;
}

.project-card:after,
.project-card:before {
  aspect-ratio: 1/1;
  border: var(--stroke);
  content: "";
  display: block;
  position: absolute;
  will-change: transform;
}

.project-card:after {
  border-radius: var(--border-radius);
  width: 100%;
}

.project-card:before {
  border-radius: calc(var(--border-radius) - var(--padding) * 0.5);
  width: calc(100% - var(--padding));
}

.project-card img {
  aspect-ratio: 1/1;
  background-color: var(--color-light);
  border: var(--stroke);
  border-radius: calc(var(--border-radius) - var(--padding));
  max-width: calc(100% - var(--padding) * 2);
  min-width: calc(100% - var(--padding) * 2);
  object-fit: cover;
  object-position: center;
  position: absolute;
  width: calc(100% - var(--padding) * 2);
  will-change: transform;
  z-index: 1;
}

[data-project-card-variant="top-right"] img,
[data-project-card-variant="top-right"]:before {
  right: var(--project-card-right);
  top: var(--project-card-top);
  transform: translate(var(--project-card-x), var(--project-card-y));
}

[data-project-card-variant="top-left"] img,
[data-project-card-variant="top-left"]:before {
  left: var(--project-card-left);
  top: var(--project-card-top);
  transform: translate(var(--project-card-x), var(--project-card-y));
}

[data-project-card-variant="bottom-right"] img,
[data-project-card-variant="bottom-right"]:before {
  bottom: var(--project-card-bottom);
  right: var(--project-card-right);
  transform: translate(var(--project-card-x), var(--project-card-y));
}

.intro-region__container {
  --gutter: var(--space-xl);
  --sidebar-content-min-width: 65%;
  --sidebar-target-width: 25rem;
  align-items: flex-start;
}

.intro-region__body {
  max-width: 59.4rem;
}

.intro-region__heading h2 {
  --heading-font-family: var(--font-statement);
  --heading-font-weight: var(--font-bold);
  font-size: var(--size-step-5);
  margin-block-end: var(--space-s);
}

.intro-region__media {
  height: auto;
  max-width: 50vi;
}

.intro-region__heading {
  margin-block-end: var(--space-m);
  text-box: trim-both cap alphabetic;
}

.features-region .grid {
  --gutter: var(--space-l);
}

.features-region__col {
  display: grid;
  gap: var(--flow-space);
  grid-row: span 2;
  grid-template-rows: subgrid;
}

.features-region__heading {
  border-block-end: var(--stroke);
  font-size: var(--size-step-1);
  padding-block-end: var(--space-xs);
}

.features-region : is(ul,ol) {
  margin-block: 0;
}

.features-region :is(li, p) {
  font-size: var(--size-step--1);
}

.eyebrow > :is(h1, h2, h3, h4, h5, h6) {
  --heading-font-family: var(--font-base);
  --heading-font-weight: var(--font-medium);
  --heading-kerning: var(--kerning-caps);
  font-size: var(--size-step--3);
  margin-block-end: var(--space-l);
  text-transform: uppercase;
}

.work-region {
  --global-style-ul-indent-space: 0;
}

.work-region li {
  padding-inline-end: var(--space-s-m);
}

.work-region__grid {
  display: grid;
  grid-template-columns: repeat(var(--count), 100%);
  padding-block-end: var(--scroll-bar-offset);
  scroll-padding-left: 1px;
}

.work-region li {
  display: grid;
  grid-row: span 2;
  grid-template-rows: subgrid;
}

@media (min-width: 55em) {
  .work-region__grid {
    grid-template-columns: repeat(var(--count), calc(60% - var(--space-l)));
  }
}

.work-card {
  display: grid;
  grid-row: span 2;
  grid-template-rows: subgrid;
}

.work-card__impact {
  border: var(--stroke);
  border-radius: var(--space-l);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-block-start: var(--space-s);
  padding-inline: var(--space-s);
  position: relative;
}

.work-card__statement {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: var(--space-xs);
  margin-block-end: var(--space-s);
  max-width: 40ch;
  text-box: trim-both cap alphabetic;
  font-family: var(--heading-font-family);
  font-size: var(--size-step--1);
  font-weight: var(--heading-font-weight);
  letter-spacing: var(--heading-kerning);
  line-height: var(--leading-slim);
  text-wrap: balance;
}

.work-card .icon {
  height: auto;
  width: min(10vw, 4rem);
}

.work-card__media {
  border-radius: var(--space-xs) var(--space-xs) 0 0;
  display: block;
  min-width: 100%;
}

.work-card__meta {
  --gutter: var(--space-3xs-2xs);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: var(--size-step--2);
  gap: var(--space-3xs) var(--gutter);
  margin-inline-start: var(--space-s);
  text-wrap: balance;
}

.work-card__meta span {
  font-size: 0.9em;
}

.work-card__client {
  flex-shrink: 0;
  font-size: var(--size-step--3);
  font-weight: var(--font-medium);
  letter-spacing: var(--kerning-caps);
  text-transform: uppercase;
}

@media (max-width: 30em) {
  .work-card__statement {
    align-items: flex-start;
  }

  .work-card__meta {
    margin-inline-start: 0;
  }
}

@media (min-width: 75em) {
  .work-card__statement {
    font-size: var(--size-step-0);
  }

  .work-card__meta {
    flex-direction: row;
  }
}

.the-studio-region {
  --switcher-target-container-width: 40rem;
}

.the-studio-region__heading {
  --heading-font-family: var(--font-statement);
  --heading-font-weight: var(--font-bold);
  font-size: var(--size-step-5);
}

.the-studio-region__body,
.the-studio-region__heading {
  text-box: trim-both cap alphabetic;
}

.the-studio-region ul.team[role="list"] {
  margin-block-start: var(--space-l);
}

.the-studio-region .switcher {
  container: the-studio-region-switcher/inline-size;
}

@container the-studio-region-switcher (min-width: 40rem) {
  .the-studio-region__heading {
    position: sticky;
    top: var(--space-l);
  }
}

.team {
  container: team/inline-size;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
}

.team li {
  flex-grow: 1;
}

.team-card {
  --flow-space: var(--space-2xs);
  --matched-radius-padding: var(--space-xs);
  --matched-radius-inner-size: var(--space-xs);
  border: var(--stroke);
  border-radius: calc(
    var(--matched-radius-inner-size) + var(--matched-radius-padding)
  );
  padding: var(--space-xs);
}

.team-card__media {
  aspect-ratio: 1/1;
  border: var(--stroke);
  border-radius: var(--matched-radius-inner-size);
  width: 9.375rem;
}

.team-card:not([data-team-card-variant="stretch"]) .team-card__media {
  margin-block-end: var(--space-xs);
}

.team-card__name {
  font-size: var(--size-step-1);
  text-box: trim-both cap alphabetic;
  word-wrap: normal;
}

@container team ((width < 50cqi) and (width > 48cqi)) {
  .team-card:not([data-team-card-variant="stretch"]) .team-card__name {
    max-width: 1ch;
  }
}

.team-card__role {
  font-size: var(--size-step--3);
  font-weight: var(--font-medium);
  letter-spacing: var(--kerning-caps);
  margin-block-start: var(--space-3xs);
  text-transform: uppercase;
}

.team-card__bio {
  font-size: var(--size-step--3);
  max-width: 19ch;
}

.team-card[data-team-card-variant="stretch"] {
  --flow-space: var(--space-xs);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs) calc(var(--space-xs) * 4.5);
}

.team-card[data-team-card-variant="stretch"] > * {
  flex-grow: 1;
  min-width: round(calc(50% - var(--gutter) * 2));
}

.experience-region {
  --flow-space: var(--space-s);
}

.experience-region__body {
  max-width: 50.625rem;
}

.experience-region__stacked-cards {
  display: flex;
  flex-wrap: nowrap;
  margin-block-end: var(--region-space);
  overflow: hidden;
  position: relative;
}

.experience-region .logo-grid {
  margin-block-start: var(--region-space);
}

@media (max-width: 65em) {
  .experience-region__stacked-cards {
    flex-direction: column;
  }
}

.logo-grid__list {
  align-items: center;
  display: grid;
  gap: var(--space-l);
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.logo-grid__list img {
  display: block;
  height: auto;
  margin-inline: auto;
  width: inherit;
}

.stacked-card {
  --overlap: var(--space-m);
  --placeholder-width: 11rem;
  background-color: var(--color-light);
  border: var(--stroke);
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  overflow: hidden;
  position: relative;
}

.stacked-card span {
  font-family: var(--font-statement);
  font-size: var(--size-step-0);
  font-weight: var(--font-bold);
}

.stacked-card__heading {
  --heading-font-family: var(--font-statement);
  --heading-font-weight: var(--font-bold);
  margin-inline-start: auto;
  max-width: 12ch;
  text-box: trim-both cap alphabetic;
  font-size: var(--size-step-4);
}

.stacked-card[data-stacked-card-variant="placeholder"] {
  border-radius: var(--space-m) 0 0 var(--space-m);
  margin-inline-start: calc(var(--overlap) * -1);
  width: var(--overlap);
}

.stacked-card:not([data-stacked-card-variant="placeholder"]),
.stacked-card[data-stacked-card-variant="placeholder"] span {
  padding-block: var(--space-s) var(--space-l);
  padding-inline: var(--space-s) var(--space-l);
}

.stacked-card:not([data-stacked-card-variant="placeholder"]) {
  border-radius: var(--space-m);
  margin-inline-start: calc(var(--overlap) * -1);
  width: calc(
    100% - (var(--count) - 1) * (var(--placeholder-width) - var(--overlap))
  );
}

.stacked-card[data-stacked-card-index="0"] {
  margin-inline-start: 0;
}

@media (max-width: 65em) {
  .stacked-card[data-stacked-card-variant="placeholder"] {
    border-radius: var(--space-m) var(--space-m) 0 0;
    height: var(--overlap);
    margin-block-end: calc(var(--overlap) * -1);
    margin-inline-start: 0;
    width: 100%;
  }

  .stacked-card:not([data-stacked-card-variant="placeholder"]) {
    margin-inline-start: 0;
    width: 100%;
  }
}

.testimonials-region {
  --reel-item-width: calc(100% - var(--space-l) * 2);
}

.testimonials-region li {
  border-block: var(--stroke);
  padding-block: var(--space-l);
}

.testimonials-region li:last-child {
  flex-basis: 100%;
}

.testimonials-region ul {
  --gutter: var(--space-l);
}

.testimonials-region ul li:last-child {
  padding-inline-end: var(--space-s-m);
}

.quote {
  --gutter: var(--space-2xs);
  --cluster-vertical-alignment: baseline;
}

.quote small {
  font-family: var(--font-base);
  font-weight: var(--font-medium);
  letter-spacing: var(--kerning-caps);
  text-transform: uppercase;
}

.approach-region__container {
  --gutter: var(--space-xl);
  --sidebar-content-min-width: 65%;
  --sidebar-target-width: 25rem;
  align-items: flex-start;
}

.approach-region__body {
  max-width: 59.4rem;
}

.approach-region__heading {
  --heading-font-family: var(--font-statement);
  --heading-font-weight: var(--font-bold);
  font-size: var(--size-step-4);
  margin-block-end: var(--space-m);
  text-box: trim-both cap alphabetic;
}

.approach-region .arrow {
  max-width: 50vi;
  position: relative;
  top: -1.1ex;
  width: 100%;
}

.arrow {
  height: auto;
  max-width: 100%;
}

.points-of-difference-region {
  padding-block-end: calc(var(--region-space) - var(--scroll-bar-offset));
}

.points-of-difference-region thead th:first-child,
.points-of-difference-region tr td:first-child {
  padding-inline-end: var(--space-xs);
}

.points-of-difference-region thead th:last-child,
.points-of-difference-region tr td:last-child {
  padding-inline-start: var(--space-xs);
  text-align: right;
}

.points-of-difference-region td {
  min-width: 15rem;
  width: 50%;
}

.points-of-difference-region__explainer {
  align-items: center;
  display: flex;
  gap: var(--space-xs);
}

.points-of-difference-region
  tr
  td:last-child
  .points-of-difference-region__explainer {
  flex-direction: row-reverse;
}

.points-of-difference-region__explainer .icon {
  height: min(10vw, 2.8rem);
  width: auto;
}

@media (max-width: 30em) {
  .points-of-difference-region {
    --global-style-table-th-font-size: var(--size-step-0);
    --global-style-table-td-font-size: var(--size-step--2);
  }
}

.call-to-action__container {
  --gutter: var(--space-l);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter);
  justify-content: space-between;
}

.call-to-action__body {
  --gutter: var(--space-s);
  --flow-space: var(--space-s);
  flex-grow: 1;
  text-box: trim-both cap alphabetic;
}

.call-to-action__body p {
  text-wrap: pretty;
}

.call-to-action__heading {
  --heading-font-family: var(--font-statement);
  --heading-font-weight: var(--font-bold);
  --heading-line-height: var(--leading-tight);
  max-width: 100%;
  width: 100%;
  text-box: trim-both cap alphabetic;
  font-size: var(--size-step-6);
}

.call-to-action__footnote {
  font-size: var(--size-step--3);
  margin-block-start: var(--space-l);
}

@media (min-width: 65em) {
  .call-to-action__heading {
    max-width: 55%;
  }

  .call-to-action__body {
    width: calc(45% - var(--space-l));
  }
}

.header {
  background: var(--color-light);
  padding-block-start: var(--space-xs-s);
  position: relative;
  z-index: 1;
}

.header .wrapper {
  container: hero-wrapper/inline-size;
}

.header__container {
  --gutter: var(--space-xs);
  border: var(--stroke);
  border-radius: var(--space-m);
  padding-block: var(--space-xs);
  padding-inline: var(--space-m);
  position: relative;
}

.header a:has(.set-studio-logo):hover .set-studio-logo__set {
  color: var(--color-primary);
}

.header .set-studio-logo {
  transform: translateY(-0.15ex);
}

@container hero-wrapper (width <= 35rem) {
  .header__container {
    --repel-horizontal-alignment: center;
  }
}

.set-studio-logo {
  --small-variant-width: 10rem;
  display: block;
}

.set-studio-logo[data-set-studio-logo-variant="small"] {
  height: auto;
  width: var(--small-variant-width);
}

.navigation {
  --gutter: var(--space-2xs);
  --global-style-link-text-decoration: none;
  --global-style-link-hover-text-decoration: underline;
  --cluster-horizontal-alignment: center;
}

.navigation a,
.navigation li {
  display: block;
  text-box: trim-both cap alphabetic;
  font-family: var(--font-display);
  font-size: var(--size-step--3);
  font-weight: var(--font-medium);
  text-transform: uppercase;
}

.navigation li:last-child {
  font-style: italic;
}

.footer {
  --switcher-last-child-width: 27rem;
  --switcher-horizontal-alignment: space-between;
  --global-style-hr-space: 0 var(--space-l);
  --global-style-link-text-decoration: none;
  --global-style-link-hover-text-decoration: underline;
  --global-style-link-hover-underline-offset: auto;
  --global-style-hr-stroke: 1px solid var(--color-light);
  background-color: var(--color-primary);
  bottom: 0;
  color: var(--color-light);
  left: 0;
  padding-block: var(--space-xl);
  position: sticky;
  z-index: 0;
}

.footer .switcher:first-of-type {
  --switcher-vertical-alignment: flex-end;
  margin-block-end: var(--space-3xl);
}

.footer .switcher > :last-child {
  max-width: var(--switcher-last-child-width);
  width: 100%;
}

.footer__company {
  font-size: var(--size-step-2);
  line-height: var(--leading-slim);
  margin-block: var(--space-xl) var(--space-3xl);
}

.footer__company h2 {
  --heading-kerning: 0;
  --measure-heading-2: 19ch;
  --text-size-heading-2: var(--size-step-2);
  --heading-font-weight: var(--font-normal);
  --heading-line-height: var(--leading-slim);
  font-family: var(--font-base);
}

.footer small {
  font-size: 0.75rem;
  line-height: var(--leading-short);
}

.socials {
  --gutter: var(--space-s);
  --global-style-link-text-decoration: none;
  --global-style-link-hover-text-decoration: underline;
  --global-style-link-hover-underline-offset: auto;
  font-size: var(--size-step--1);
}

.socials a:focus-visible {
  --focus-color: var(--color-light);
}

@font-face {
  font-display: swap;
  font-family: HafferMedium;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/HafferMedium.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: HafferMedium;
  font-style: italic;
  font-weight: 500;
  src: url(/fonts/HafferMediumItalic.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: HafferXH;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/HafferXHBold.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: HafferXH;
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/HafferXHBoldItalic.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Saans;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/SaansBold.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Saans;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/SaansMedium.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Saans;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/SaansRegular.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Saans;
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/SaansRegularItalic.woff2) format("woff2");
}
