---
layout: ../layouts/PageLayout.astro
---

<!doctype html>
<html lang="en-us">
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body>
		<Header title={SITE_TITLE} />
		<main>
			404: Page not found

			<Tags tags={tags} all />
		</main>
		<Footer />
		<ColorScript />
	</body>
</html>