---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout 
  title="Now" 
  description="What I'm currently working on and focused on right now"
>
  
  <section>
    <h2>23 January, 2025</h2>
    <p>Recently, my wife and I relocated from Paris to a small town near Geneva, Switzerland, and I've been focused on recovering from my recent surgeries and continuing physical therapy.</p>
    <p>I'm currently in job search mode, but have been occupying my time with a few projects:</p>
    <ul>
      <li>Redesigning this site with <a href="https://utopia.fyi">Utopian CSS</a> principles (no more media queries!), using <code>minmax()</code> and <code>clamp()</code> to resize text, grids, and elements fluidly.</li>
      <li>Taking new courses on React and Node.js to stay on track with the latest updates.</li>
      <li>Creating open source themes for <a href="http://www.astro.build">Astro</a>, which I hope to release soon.</li>
    </ul>
  </section>
</PageLayout>
