---
import PageLayout from '../layouts/PageLayout.astro';

const currentTime = new Date('2025-01-22T14:28:00+01:00');
const formattedDate = currentTime.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
});
---

<PageLayout
title="Resume"
description="Download Resume for Timothy Eaton"

>
  
    <p><a class="button-primary" href="https://timeaton.dev/resume-timothy-eaton.pdf">Download PDF</a></p>

    <p>Prefer another format? Email me at <a href="tim@timeaton.dev">tim@timeaton.dev</a> for alternate versions.</p>

</PageLayout>
