<footer>
  <section id="footer-content" class="footer-content flow">
    <p>&copy; {new Date().getFullYear()} Timothy Eaton. All rights reserved. This design is built with <a href="https://astro.build">Astro</a>, and you are free to <a href="https://github.com/yakbrother/yakbrother-dev">download</a> and use my code for your own personal or commercial projects. In case you're wondering: <a href="https://mostlytrue.life/stories/how-yaks-took-over-my-life/">Why Yak?</a></p>
  </section>
</footer>

<style>
  footer {
    margin-top: var(--space-4xl);
    width: 100%;
    min-height: 200px;
    background-color: var(--color-primary);
    color: var(--color-light);
    border-top: 10px solid var(--color-primary-glare);
    padding: 3em 0;
  }

  section.footer-content {
    max-width: 55em;
    color: var(--color-light);
    margin: 0 auto;
    padding: 3em 2em;
  }


  footer a {
    color: var(--color-light);
  }

  footer a:hover {
    color: var(--color-light);
  }

  
</style>
