---
import HeadContent from	"@components/HeadContent.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { CONFIG } from "../config";
import "@styles/a11y.css";

const { title = CONFIG.site_title, description = CONFIG.description, image = "/og-default.jpg" } = Astro.props;
---

<!doctype html>
<html lang="en-US">
	<head>
		<HeadContent title={title} description={description} image={image} />
	</head>
	<body>
		<Header />
		<main id="main-content" class="content flow" role="main" tabindex="-1">
			<slot/>
		</main>
		<Footer />
	</body>
</html>
