---
import HeadContent from	"@components/HeadContent.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { CONFIG } from "../config";

const { title = CONFIG.site_title, description = CONFIG.description, image = "/og-default.jpg" } = Astro.props;
---

<!doctype html>
<html lang="en-us">
	<head>
		<HeadContent title={title} description={description} image={image} />
	</head>
	<body>
			<Header />
			<main>
				<slot/>
      <main>
			<Footer />
		</main>

    <style is:global>
      /*
      nav {
        padding: 1rem 0;
        display: flex;
        gap: 1rem;
      }
      nav a {
        color: rgb(var(--accent));
        text-decoration: none;
      }
      nav a:hover {
        text-decoration: underline;
      }\*/
    </style>
  </body>
</html>
